
.logocc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  padding: 0.5rem;
  will-change: filter;
  transition: filter 300ms;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logocc:hover {
  filter: drop-shadow(0 0 2rem #a251ff);
}
.logocc:hover {
  filter: drop-shadow(0 0 2rem #a251ff);
}

/* navbar estilos*/
.navbar{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0%;
  padding-top: 0%;
  text-decoration: none;
}

.nav-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

/* carrito estilos */
.boton-carrito{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carrito-contenedor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  text-decoration: none;
}

.carrito-texto{
  display: flex;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.carrito-numero{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

/* item Item estilos */
.item-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1d1d1b;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-radius: 2rem;
}

.item-imagen{
  display: flex;
  margin-bottom: 20px;
  border-radius: 1rem;
}

.item-body{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  max-width: 300px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding: 20px;
}

.text-link{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  text-decoration: none;
}

.titulo-categoria{
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  text-decoration: none;
  color: #a251ff;
}

/* item detail */

.item-detail-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1d1d1b;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 25px;
  padding-bottom: 30px;
  border-radius: 2rem;
}

.item-detail-body{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: #f3f3f3;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.item-detail-imagen{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 30px;
}

.item-detail-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}

.item-detail-precio{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}

.item-detail-stock{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}

.detalle-producto{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #f3f3f3;
  margin-bottom: 30px;
}

.operacion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.numero-contador{
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 30px;
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
}

.operacion-carrito{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: 1rem;
}

.producto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boton-producto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.btn-cart-compra{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #f3f3f3;
  text-decoration: none;
}

.carrito-vacio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.ver-productos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 300px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  border-radius: 0.5rem;
  color: #f3f3f3;
  background-color: #1d1d1b;
}

/* item cart detail estilos */
.itemCart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 2rem;
  margin: 30px;
}

.itemCart-img{
  width: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  border-radius: 1rem;
}

.itemCart-detail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #1d1d1b;
}

.itemCart-subdetail{
  margin-right: 30px;
  margin-bottom: 0px;
}

.btn-eliminar{
  width: 8rem;
  height: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #f3f3f3;
  background-color: #a251ff;
}

.font-bold{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #a251ff;
}

.total-carrito{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #1d1d1b;
}

.btn-total{
  margin: 0px;
  width: 12rem;
  height: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #f3f3f3;
  background-color: #a251ff;
}

.btn-checkout{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
}

/* formulario checkout estilos */

.form-titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #a251ff;
}

.form-cont{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detalleOrden-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #a251ff;
  border-radius: 1rem;
  padding: 5%;
  height: 100%;
  width: 40%;
}

.detalleOrden-titulo{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #f3f3f3;
}

.cart-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #f3f3f3;

}

.cartItem-checkout{
  margin-bottom: 10px;
}

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #f3f3f3;
  background-color: #1d1d1b;
  border-radius: 1rem;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 100px;
  padding-right: 100px;
}

.lab-check{
  margin-right: 25px;
}

.input-check{
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
}

.btn-enviar{
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkout-orden{
  background-color: #a251ff;
  color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  border-radius: 1rem;
  padding: 20px;
}

.orden-id{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  color: #a251ff;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
}

/* footer estilos */

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1d1d1b;
  font-family: 'Open Sans', sans-serif;
}

.div1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-text1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 600;
  padding-top: 14px;
}

.footer-text2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  font-size: 12px;
  margin-left: 85px;
  line-height: 0px;
}