
.logocc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  padding: 0.5rem;
  will-change: filter;
  transition: filter 300ms;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logocc:hover {
  filter: drop-shadow(0 0 2rem #a251ff);
}
.logocc:hover {
  filter: drop-shadow(0 0 2rem #a251ff);
}

/* navbar estilos*/
.navbar{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 0%;
  padding-top: 0%;
  text-decoration: none;
}

.nav-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

/* carrito estilos */
.boton-carrito{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.carrito-contenedor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 100px;
  margin-top: 0px;
  text-decoration: none;
}

.carrito-texto{
  display: flex;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.carrito-numero{
  display: flex;
  padding-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

/* item Item estilos */
.item-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1d1d1b;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-radius: 2rem;
}

.item-imagen{
  display: flex;
  margin-bottom: 20px;
  border-radius: 1rem;
}

.item-body{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  max-width: 300px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding: 20px;
}

.text-link{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  text-decoration: none;
}

.titulo-categoria{
  display: flex;
  margin-top: 35px;
  margin-bottom: 35px;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  text-decoration: none;
  color: #a251ff;
}

/* item detail */

.item-detail-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1d1d1b;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 25px;
  padding-bottom: 30px;
  border-radius: 2rem;
}

.item-detail-body{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: #f3f3f3;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.item-detail-imagen{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 30px;
}

.item-detail-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}

.item-detail-precio{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}

.item-detail-stock{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}

.detalle-producto{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #f3f3f3;
  margin-bottom: 30px;
}

.operacion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.numero-contador{
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 30px;
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
}

.operacion-carrito{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: 1rem;
}

.producto{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boton-producto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.btn-cart-compra{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #f3f3f3;
  text-decoration: none;
}

.carrito-vacio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.ver-productos{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #1d1d1b;
}